<template>
  <div>
    <p>Checkout</p>
    <div> {{getCart}}</div>
    <div> {{hola}} </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'checkout',
  props: {
    cartId: {
      type: String,
    },
  },
  computed: {
    ...mapGetters([
      'getCart',
    ]),
    hola() {
      return 'hola';
    },
  },
  // computed: Object.assign(
  //   mapGetters([
  //     'getCart',
  //   ]),
  //   {
      
  //   },
  // ),

};
</script>

<style scoped>
</style>
