<template>
<div>
  <p class='home'>{{msg}}</p>
  <ul v-if='products.length'>
    <li v-for='product in products' :key='product.id'>
      <product :product='product' />
    </li>
  </ul>
</div>
</template>

<script>
import api from '@/services/api.services';
import Product from '@/components/Product';

export default {
  name: 'Home',
  // components: {
  //   Product: import('@/components/Product')
  // },
  components: { Product },
  props: {
    count: {
      type: Number,
    },
  },
  data() {
    return {
      products: [],
      msg: 'Home',
    };
  },
  mounted() {
    api.getProducts()
      .then((products) => {
        const promises = [];
        products.forEach((productId) => {
          promises.push(api.getProduct(productId));
        });
        return Promise.all(promises);
      })
      .then((products) => {
        this.products = products;
      });
  },
};

//  refactor con bind
// api.getProducts()
//       .then(fillProducts.bind(this));
// function fillProducts(products) {
//   this.products = products;
// }

// async await
// api.getProducts()
//   .then((products) => {
//     const productos = [];
//     products.forEach(async (productId) => {
//       const product = await api.getProduct(productId);
//       productos.push(product);
//     });

//     this.products = products;
//   });
</script>

<style scoped>

</style>
