<template>
  <div>
    <router-link to='/'> Home </router-link>
    <router-link :to='{name: "Checkout", params: {cartId: "id"}  }'> Checkout </router-link>
  </div>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style scoped>

</style>
