<template>
  <div class='product'>
    <p class='product__name'> {{ product.name }}</p>
    <p class='product__price'> {{ price }}</p>
    <p class='product__stock'> {{ product.stock}}</p>
    <button @click='add'> Add </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'product',
  props: {
    product: {
      type: Object,
    },
  },
  methods: {
    ...mapActions([
      'addToCart',
    ]),
    // addToCart(itemId) {
    //   this.$storage.dispatch('addToCart', itemId);
    // },
    add() {
      this.addToCart(this.product.id);
    },
  },
  computed: {
    price() {
      return `${this.product.price} €`;
    },
  },
};
</script>

<style scoped>
.product {
  display: flex;
  justify-content: space-around;
}
</style>
